<div class="mt-2">
  <label>{{ label() }}:</label>
  <input
    type="{{ type() }}"
    [formControl]="control"
    placeholder="{{ label() }}"
    class="form-control"
    [class.is-invalid]="control.touched && control.invalid"
  />
  @if (control.errors?.['required']) {
  <div class="invalid-feedback">Please enter {{ label() }}</div>
  } @if (control.errors?.['email']) {
  <div class="invalid-feedback">Please enter a valid {{ label() }}</div>
  } @if (control.errors?.['minlength']) {
  <div class="invalid-feedback">
    {{ label() }} must be at least {{control.errors?.['minlength'].requiredLength}} characters
  </div>
  } @if (control.errors?.['maxlength']) {
  <div class="invalid-feedback">
    {{ label() }} must be at most {{control.errors?.['maxlength'].requiredLength}} characters
  </div>
  } @if (control.errors?.['notMatching']) {
  <div class="invalid-feedback">Password do not match</div>
  }
</div>
