<!-- to display featured products for home page -->
@if(objectForCard() && !list()){
<div class="home-card">
  <div class="home-card-img">
    <img [src]="objectForCard().thumbnail" alt="{objectForCard.title}" loading="lazy" />

    <div class="on-image" (click)="onProduct(objectForCard())">
      <div class="icon-box" (click)="onAddCart(objectForCard(), $event)">
        <i class="bi bi-cart-fill"></i>
      </div>
      <div class="icon-box" [style.color]="favouriteColor()" (click)="checkFavourite($event)">
        <i class="bi bi-heart-fill"></i>
      </div>
    </div>
  </div>
  <div class="home-card-content">
    <h2 (click)="onProduct(objectForCard())">{{ objectForCard().title }}</h2>
    <p>{{ objectForCard().price | currency }}</p>
    <span>
      {{ objectForCard().rating }}
      <ngb-rating style="color: #ff9600" [rate]="objectForCard().rating" [max]="5"></ngb-rating
    ></span>
  </div>
</div>
}@else if (objectForCard() && list() === 'list') {
<!-- to display list of products for categories -->
<div class="product-list">
  <div class="list-img">
    <img
      [src]="objectForCard().thumbnail"
      alt="{objectForCard.title}"
      loading="lazy"
      (click)="onProduct(objectForCard())"
    />
  </div>
  <div class="list-content" style="padding-left: 50px">
    <h2 class="list-title" (click)="onProduct(objectForCard())">
      {{ objectForCard().title }}
    </h2>
    <p class="list-price">{{ objectForCard().price | currency }}</p>
    <span class="list-rating">
      {{ objectForCard().rating }}
      <ngb-rating style="color: #ff9600" [rate]="objectForCard().rating" [max]="5"></ngb-rating
    ></span>
    <p class="list-description">{{ objectForCard().description }}</p>
    <span class="list-categories">{{ objectForCard().category }}</span>
    <div class="list-buttons">
      <button (click)="onAddCart(objectForCard(), $event)">
        <i class="bi bi-cart-fill"></i>
        <span style="margin-left: 5px">Add To Cart</span>
      </button>
      <button [style.color]="favouriteColor()" (click)="checkFavourite($event)">
        <i class="bi bi-heart-fill"></i>
      </button>
    </div>
  </div>
</div>
}
