<footer>
  <div class="footer-header">
    <div class="wrapper | social">
      <span class="footer-title"
        >We’re confident we’ve provided all the best for you. Stay connect with
        us</span
      >
      <div class="footer-icons">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-behance"></i>
      </div>
    </div>
  </div>
  <div class="footer-content" style="padding-inline: 10px">
    <div class="wrapper | footer-info">
      <ul>
        <li>Information</li>
        <li>Delivery Information</li>
        <li>Discount</li>
        <li>Sitemap</li>
        <li>Privacy Policy</li>
        <li>My Account</li>
      </ul>
      <ul>
        <li>My account</li>
        <li>Sign In</li>
        <li>View Cart</li>
        <li>My Wishlist</li>
        <li>Check out</li>
        <li>Track My Order</li>
      </ul>
      <ul>
        <li>Help</li>
        <li>F.A.Q.</li>
        <li>Shipping</li>
        <li>Contact Us</li>
        <li>Privacy Policy</li>
      </ul>
      <ul>
        <li>Contact info</li>
        <li>1234 Your Address, Country.</li>
        <li>+1 234 5678 9999</li>
        <li>mail&#64;domain.com</li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="wrapper | copy">
      <p class="copyright-text">
        Copyright 2017 RenoshopBee all right reserved - Design by BeeStudios
      </p>
    </div>
  </div>
</footer>
