<header>
  <div class="logo">Estore</div>
  <nav>
    <ul class="desk-nav">
      <li routerLink="/home" routerLinkActive="active">Home</li>
      <li routerLink="/products/all" routerLinkActive="active">All Product</li>
      <li routerLink="/products/women" routerLinkActive="active">Women</li>
      <li routerLink="/products/men" routerLinkActive="active">Men</li>
      <li routerLink="/products/jewellery" routerLinkActive="active">Jewellery</li>
      <li routerLink="/products/accessories" routerLinkActive="active">Accessories</li>
    </ul>
    <ul class="mobile-menu">
      <li class="close-icon">
        <i class="bi bi-x-lg" (click)="onBurgerClose()"></i>
      </li>
      <li routerLink="/home" routerLinkActive="active">Home</li>
      <li routerLink="/products/all" routerLinkActive="active">All Product</li>
      <li routerLink="/products/women" routerLinkActive="active">Women</li>
      <li routerLink="/products/men" routerLinkActive="active">Men</li>
      <li routerLink="/products/jewellery" routerLinkActive="active">Jewellery</li>
      <li routerLink="/products/accessories" routerLinkActive="active">Accessories</li>
    </ul>
  </nav>
  <div class="header-icons">
    <ul>
      <li class="search-container" style="box-shadow: 0 0 2px grey; padding: 2px 4px">
        <input class="search-input" type="text" placeholder="Search" #i (keyup)="onSearchInput(i.value)" />
        <i class="bi bi-search"></i>
        @if (searchedProduct.length) {
        <div class="dropdown-results">
          @for (prod of searchedProduct; track prod.id) {
          <span class="searched-prod" (click)="onSearchedProduct(prod)">{{ prod.title }}</span>
          }
        </div>
        }
      </li>
      <li class="cart-icon" routerLink="/cart">
        <i class="bi bi-cart"></i>
        @if (itemsNumberIncart > 0) {
        <div class="item-numbers">
          {{ itemsNumberIncart }}
        </div>
        }
      </li>
      <li class="user-actions">
        <i class="bi bi-person-circle"></i>
        <div class="user-info" style="position: absolute">
          <ul class="user-dropdown">
            <li (click)="onUserActions('login')">Login</li>
            <li class="mt-2" (click)="onUserActions('register')">Register</li>
          </ul>
        </div>
      </li>
      <li style="font-size: 20px" class="burger-icon">
        <i class="bi bi-list" (click)="onBurgerMenu()"></i>
      </li>
    </ul>
  </div>
</header>
