@if (slideImages() !== undefined) {
<div class="image-slider" style="width: 450px; height: 600px">
  <swiper
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
    [spaceBetween]="5"
    [navigation]="true"
    [thumbs]="{ swiper: thumbsSwiper }"
    class="mySwiper2"
  >
    @for (image of slideImages(); track $index) {
    <ng-template swiperSlide><img [src]="image" /></ng-template>
    }
  </swiper>
  <swiper
    (swiper)="thumbsSwiper = $event"
    [spaceBetween]="10"
    [slidesPerView]="4"
    [freeMode]="true"
    [watchSlidesProgress]="true"
    class="mySwiper"
  >
    @for (image of slideImages(); track $index) {
    <ng-template swiperSlide><img [src]="image" /></ng-template>
    }
  </swiper>
</div>
} @if (cardSlider() !== undefined) {
<div class="card-slider">
  <swiper
    [slidesPerView]="4"
    [spaceBetween]="30"
    [slidesPerGroup]="4"
    [loop]="true"
    [loopFillGroupWithBlank]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper2"
  >
    @for (card of cardSlider(); track $index) {
    <ng-template swiperSlide><app-card [objectForCard]="card"></app-card> </ng-template>
    }
  </swiper>
</div>
}
