<div class="wrapper" style="margin-top: 120px">
  <div
    class="product-controls"
    style="display: flex; align-items: center; justify-content: space-between; padding-inline: 10px"
  >
    <div class="prod-amount" style="display: flex; align-items: center">
      <span>Items per page:</span>
      <mat-select [(ngModel)]="selectedAmount">
        @for (productNumber of defaultBindingsList; track productNumber) {
          <mat-option [value]="productNumber">{{ productNumber }}</mat-option>
        }
      </mat-select>
    </div>
    <div class="prod-sort" style="display: flex; align-items: center">
      <span>Sort by:</span>
      <!--      <ng-select
              style="width: 150px; margin-left: 10px"
              [items]="sortBy"
              [clearable]="false"
              [(ngModel)]="selectedSort"
              (change)="onSortSelect()"
            >
            </ng-select>-->
    </div>
  </div>
  @if (productsArray.length) {
    <div class="display-products">
      @for (product of productsArray() | paginate: {
        itemsPerPage: selectedAmount,
        currentPage: page
      }; track product.id) {
        <app-card [objectForCard]="product" [list]="'list'" />
      }

      <div style="text-align: center; margin-top: 1rem">
        <pagination-controls (pageChange)="page = $event" />
      </div>
    </div>
  }
</div>
