<div class="wrapper" style="margin-top: 120px; overflow-x: auto">
  @if (dataForCartTable().length) {
  <table>
    <thead>
      <tr>
        <th>Products</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      @for (rowData of dataForCartTable(); track rowData.id) {
      <tr>
        <td style="padding: 40px 20px">
          <img
            [src]="rowData.thumbnail"
            alt="image for product"
            style="width: 80px; height: 100px; vertical-align: middle"
          />
          <span style="margin-left: 20px">{{ rowData.title }}</span>
        </td>
        <td class="centered">{{ rowData.category }}</td>
        <td class="centered">
          <i class="bi bi-dash-lg" style="cursor: pointer" (click)="onDec(rowData.id)"></i>
          {{ rowData.amount }}
          <i class="bi bi-plus-lg" style="cursor: pointer" (click)="onIncr(rowData.id)"></i>
        </td>
        <td class="centered">{{ rowData.price | currency }}</td>
        <td class="centered">
          {{ rowData.price * rowData.amount | currency }}
        </td>
      </tr>
      }
      <tr>
        <td colspan="5" class="table-buttons" style="text-align: right; padding: 20px">
          <button (click)="onContinueShopping()">Continue shopping</button>
          <button (click)="onClearCart()">Clear cart</button>
        </td>
      </tr>
    </tbody>
  </table>
  }@else {
  <div class="no-items">
    <span>no items in cart</span>
    <button (click)="onContinueShopping()">Start Shopping</button>
  </div>
  }
</div>
